#hanzi
  =general_tonize word.hanzi, word.norm_pinyin
#pinyin
  = word.pinyin
  (
  = tonize word.norm_pinyin
  )

%ul#translation
  - word.translation_list.each do |tr|
    %li
      - tr.split(";").each do |td|
        = td
        %br
  - if word.zew.present?
    %li
      =t('zew_short')
      =":"
      = word.zew
