- title (@selection.character.pinyin + " " + @selection.character.hanzi)
= render "tasks"


= render @selection.character

%h2 Fortschritt
- EXERCISES.each do |exercise|
  %h3=exercise[:name]
  .half
    Stufe:
    =@selection.send("level_#{exercise[:id]}")
  .half
    Letzter Besuch:
    =distance_of_time_in_words_to_now(@selection.send("next_visit_#{exercise[:id]}")) rescue "Niemals"


