/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

#exercise-list {
  h2 {
  }
  .exercise {
    float: left;
    margin-right: 20px;
    min-width: 300px;
    max-width: 500px;
  }
  &:after {
    clear: both;
  }
  a.done {
    color: gray;
  }
}
