/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

$tone1: #007de7;
$tone2: #3bf800;
$tone3: #eebe40;
$tone4: #f80300;

body #content {
  font-size: 100%;
  font-family: Helvetica,Verdana,Arial,sans-serif;
}
.qtip {
  .hanzi {
    font-size: 200%;
  }
}
.clear {
  clear: both;
}
#buttons {
  #level {
    font-size: 150%;
    text-align: center;
  }
  position: fixed;
  right: 20px;
  top: 150px;
  #solve {
    text-align: center;
  }
}


.button {
  display: block;
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
  background: #333;
  color: white;
  width: 150px;
  &:hover {
    background: #666;
    text-decoration: none;
  }
  &:link, &:visited {
    color: white;
  }
  &.highlighted {
    background: #999;
  }
}

.hanzi-list {
  font-size: 1.8em;
  line-height: 1.4;
  margin-top: 0;
}
#hanzi, .hanzi, #pinyin {
  text-shadow: 1px 0px 1px #999;
}

.tone-1 {
  background: url(/images/tone-1.thumb.png) no-repeat center top;
  padding-top: 10px;
  color: $tone1;
  border-bottom: 3px solid $tone1;
}
.hanzi-tone-1 { color: $tone1; }

.tone-2 {
  background: url(/images/tone-2.thumb.png) no-repeat center top;
  padding-top: 10px;
  color: $tone2;
  border-bottom: 3px solid $tone2;
}
.hanzi-tone-2 { color: $tone2; }

.tone-3 {
  background: url(/images/tone-3.thumb.png) no-repeat center top;
  padding-top: 10px;
  color: $tone3;
  border-bottom: 3px solid $tone3;
}
.hanzi-tone-3 { color: $tone3; }

.tone-4 {
  background: url(/images/tone-4.thumb.png) no-repeat center top;
  padding-top: 10px;
  color: $tone4;
  border-bottom: 3px solid $tone4;
}
.hanzi-tone-4 { color: $tone4; }

.progress_bar {
  position: relative;
  margin: 0 0 15px 0;
  width: 160px;
  margin: 0 auto;
  border: 1px solid #CCC;
  background: #555;


  span {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 20px;
    background-color: #AAF0FF;
  }

  strong {
    position: relative;
    z-index: 10;
    display: block;
    line-height: 20px;
    text-align: center;
    }
}
#footer {
  a {
    color: #ddd;
  }
}
#hanzi a {
  color: inherit;

  text-decoration: none;
  &:hover {
    color: #555;
  }
}

#selection {
  #notes fieldset.note-list {
    width: 500px;
  }

}
