/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

body #content {
  font-size: 100%;
  font-family: Helvetica,Verdana,Arial,sans-serif;
}
#exercise-1 {
  #hanzi-solution {
    font-size: 200px;
    line-height: 1.5;
    float: left;
    padding: 20px;
  }
  #hanzi-canvas {
    float: left;
  }
  .highlighted {
    color: red;
  }
}
.solve {
  display: none;
}
.clear {
  clear: both;
}
#buttons {
  position: fixed;
  right: 20px;
  top: 40%;
}


.button {
  display: block;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  background: #eee;
  width: 150px;
  &:hover {
    background: #ccc;
    text-decoration: none;

  }
}
