#exercise-2
  #task
    %span#hanzi{"data-tone" => character.tone}
      =character.hanzi
    .solve
      %span{:class => "tone-#{character.tone}"}
        =character.pinyin
      = translation_list character
      = link_to "XiaoMa Definition", "http://www.xiaoma.info/hanzi.php?hz=#{CGI.escape(character.hanzi)}", :target =>"_blank"
  .clear
