- title ": " + @selection.character.pinyin
#exercise-1
  #task
    %span#pinyin{:class => "tone-#{character.tone}"}
      =character.pinyin
    =placeholderize(character.hanzi, translation_list(character)).html_safe
    #hanzi-canvas


  #hanzi-solution.solve
    %div{:class => "hanzi-tone-#{character.tone}"}
      = character.hanzi
  .clear
