- title ": " + @selection.character.pinyin
#exercise-1
  #task
    %span#pinyin
      =tonize character.norm_pinyin
    =placeholderize(character.hanzi, translation_list(character)).html_safe
    - if character.is_a? Word
      #hanzi-canvas{"data-size" => character.hanzi.length}
    - else
      #hanzi-canvas


  #hanzi
    #hanzi-solution.solve
      =general_tonize character.hanzi
  .clear
