#exercise-2
  #task
    %span#hanzi
      .solve
        =general_tonize character.hanzi, character.norm_pinyin
      .unsolve
        = character.hanzi

    .solve
      =tonize character.norm_pinyin
      = translation_list character
      = link_to "XiaoMa Definition", "http://www.xiaoma.info/hanzi.php?hz=#{CGI.escape(character.hanzi)}", :target =>"_blank"
  .clear
