- set_tasks do |task|
  - task.add_task t("tasks.index"), :url => "/exercises", :active => params[:action] == "index"
  - task.add_task t("tasks.new_word"), :url => new_selection_path, :active => params[:action] == "new", :rel => :facebox
  - if params[:action] == "show"
    - if can? :edit, Character
      - task.add_task t("tasks.edit"), :url => edit_character_path, :active => params[:action] == "new", :rel => :facebox
    -# task.add_task t("tasks.delete"), :url => , :active => params[:action] == "new", :rel => :facebox



