- title t('.exercises')
= render "tasks"

= link_to t(".add"), new_selection_path, :rel => :facebox

%p(style="font-size: 1.8em;")
  - current_user.selections.each do |s|
    = link_to s.character.hanzi, s
    ,
