<li><a title="default design" href="index.html">default</a></li>
			<li><a title="alternate design for better usability" href="index2.html">alternative</a></li>
			<li><a title="a wider version of the design" href="index3.html">wider</a></li>
			<li><a title="style four" href="#">link four</a></li>
			<li><a title="style five" href="#">link five</a></li>